<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <a href="#" routerLink="/cart" outerLinkActive="active" class="btn btn-primary btn-lg">Go to Cart</a>
    <div class="text-right">
      <button class="btn btn-primary mr-1 pull-right text-right" type="button" (click)="Logout()" routerLinkActive="active">LogOut</button>
    </div>
  </header>

  <!-- Page Features -->
  <div class="row text-left">
      <div class="col-sm-12">
            <hr class="featurette-divider">
            <div class="row" *ngFor="let docDatas of docData;"  >
                <div class="col">
                  <img class="" src="assets/img/iphone.png" alt="First slide" width="80" height="60">
                </div>
                <div class="col-6 text-left">
                  <h4>{{docDatas.ProductName}}</h4>
                  <p>$ {{docDatas.Price}}</p>
                  <p>{{docDatas.Description}}</p>
                </div>
                <div class="col text-right">
                  <button type="button" class="btn btn-primary" (click)= "handleAddToCart(docDatas,$event.target, 'Added to cart')">
                    Add To Cart
                  </button>
                  
                </div>
            </div>
      </div>
  </div>
